.yourNetwork_header{
    position: absolute;
    width: 1250px;
    height: 550px;
    left: 50px;
    top: 85px;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    
    background: #C4C4C4;
    border-radius: 26px;
    }


.friends{
    position: relative;
    width: 1200px;
    height: 146px;
    left: 70px;
    top: 120px;
    margin-top: 2px;
    display: flex;
    justify-content: space-around;
    
    background: #999999;
    }
.friends_info{
    display: flex;
    position:absolute;
}
.friends_info div{
    flex:1;
    margin: 0;
    padding:0;
}
.dismiss-btn{
    cursor: pointer;
    outline: none;
    border: none;
    height:35px;
    background-color: #999999;
    font-size: 25px;
    margin-top: 50px;

}
/* Elipse for profile picture 
.profilepic{
position: absolute;
width: 870px;
height: 146px;
left: 439px;
top: 245px;

display: inline-table;
justify-content: space-around;

background: #999999;
}*/ 

/* Remove friend button*/
.remove{
position: absolute;
width: 121px;
height: 30px;
left: 983px;
top: 300px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
/* identical to box height */
text-align: center;
letter-spacing: 0.125em;

color: #000000;
background: #999999;
}
    