* {
  box-sizing: border-box;
}

.profile {
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #00a3d7;
  margin: 0 auto;
  padding: 0;
}

.topnav .search-container {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

header {
  text-align: center;
  background: url("../../assets/pexels-arshad-sutar-1749303.jpg") no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
  min-height: 400px;
}
header .profile-image {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all 0.5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(360deg);
}
.tag {
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.send-message {
  background-color: #00a3d7;
  padding: 10px;
  display: table;
  margin: 10px auto;
  font-size: 25px;
  width: 250px;
  border-radius: 5px;
  border: 3px solid #00a3d7;
}
