.navigation{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.navigation nav{
    background-color: #00536e;
    display: flex;
    justify-content: space-between;
}
.navigation img{
    width: 60px;
}
.search-bar{
    width: 340px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search-bar form{
    width: 240px;
    height: 35px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8a8888;
}
.search-bar input{
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: 0px;
    height: 20px;
    width: 200px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8a8888;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #8a8888;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #8a8888;
}

.navigation nav ul li{
    display: inline-block;
    margin-right: 30px;
    text-align: center;
    padding: 6px;
}
.nav-icon{
    font-size: 17px;
}