.new-post{
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #737373;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    width: 550px;
}

.new-post form{
    color: #848484;
    padding: 14px;
}
.new-post form input{
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    margin-left: 12px;
}
::placeholder{
    color: #848484;
}
.new-post hr{
    margin: 0 auto;
    width: 90%;
}
.new-post .add-media{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    color: #848484;
    text-align: center;
    font-size: 13px;
}